.back1{
background-image: url("../../../public/home1.jpg");
background-repeat: no-repeat;
}
.back2{
height: 50vh;
background-image: url("../../../public/service-bg3.jpg");
background-repeat: no-repeat;
}
.button{
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    color: white;
    width: 200px;
    height: 60px;
}
.tech{
padding-top: 12pc;
}
.button:hover{
    background: black;
    color: white;
}
@media screen and (max-width: 780px) {
    .back2 {
        background-image: none;
        height: 120vh;
        background-color: black;
    }
    .tech{
        display: none;
    }
}
